@font-face {
  font-family: 'Space Grotesk';
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

:root{
  --active: hsl(278, 94%, 30%);
  --err: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}